body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/bg2.jpg");
  min-height: 60%;
}

.bgimg-2 {
  background-image: url("images/bg3.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("images/bg1.jpg");
  min-height: 600px;
}
.bgimg-4 {
  background-image: url("images/bg4.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.title {
  background-color: #fff;
  color: #000;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 8px;
}

.caption span.authors {
  background-color: #70ecc0;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  letter-spacing: 3px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

.underline {
  color: #00ffc5;
  color: transparent;
  text-shadow: 0 0 #333, .08em 0 0 #fff, 0 0, -.08em 0 0 #fff;
  /*  gradient background allows us to use css only & re-position it  */
  background: -webkit-linear-gradient(#999, #999) center 1.09em no-repeat;
  background: linear-gradient(#999, #999) center 1.09em no-repeat;
  /*  can precisely control size in relation to the text  */
  background-size: 50% 1px;

}
.whiteUnderline {
  color: #fff;
  color: transparent;

  background: -webkit-linear-gradient(#999, #999) center 1.09em no-repeat;
  background: linear-gradient(#999, #999) center 1.09em no-repeat;
  /*  can precisely control size in relation to the text  */
  background-size: 50% 1px;

}
.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #404040;
  overflow-x: hidden;
  padding-top: 20px;
  letter-spacing: 4px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  display: block;
  color:#fff;
  padding-top: 30px;
  border-bottom: .2px solid #777;
}

.sidenav a:hover {
  color: #d2d0d0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}

