<html>

<head>
<title>DATA Final Project - Rose Ellison and Laura Moses</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>

<body>





<!-- BEGIN STICKY SIDE NAV -->
<div style="margine-top:0%; padding-top: 0%;" class="sidenav">
  <img width="100%" src="images/titanic_vector.png" />
  <a style="font-size: 25px; border:none; line-height:28px;margin-top: 0; padding-top:10px;"><span style="font-size: 29px">TABLE OF </span>CONTENTS</a>
  <a href="#intro">1) INTRODUCTION</a>
  <a href="#packages">2) PACKAGES</a>
  <a href="#preperation">3) PREPERATION</a>
  <a href="#exploration">4) EXPLORATION</a>
  <a href="#summary">5) SUMMARY</a>
  <a href="#resources">6) RESOURCES</a>
</div>
<!-- END STICKY SIDE NAV -->





<!-- BEGIN TITLE -->
<div class="main">

<!--BEGIN ALERT BOX-->
<div class="alert">
  <span class="closebtn">&times;</span>  
  <strong>Warning!</strong> Formatted to be viewed on full screen browsers only.
</div>
<!--END ALERT BOX-->


<div class="bgimg-1">
  <div class="caption">
  <span class="title">TITANIC MORTALITY ANALYSIS</span><br>
  <span class="authors">Rose Ellison and Laura Moses</span>
  
  </div>
</div>
<!-- END TITLE -->





<!-- BEGIN INTRODUCTION-->
<div id="intro" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 class="underline" style="text-align:center;">Abstraction and Introduction</h3>
  <p>While in route to the United States in April of 1912, the Titanic struck an iceberg causing passengers to flea towards a limited number of lifeboats. The ship ultimately submerged under water less than three hours after the iceberg struck the ship. An estimated 2,224 people were on board the Titanic, over 1,500 of whom perished. The purpose of this project is to analyze and explore the pattern of these deaths and how they are distributed among class, gender, and age aboard the Titanic. The data being used contains passenger information while outlining who survived. As relationships between certain variables and death rates are established, visualizations will be produced to illustrate them. The problem statement will be addressed using techniques and tools that can be found in the <code>R</code> language and its library packages. 
</p>
<!-- END INTRODUCTION-->





<!-- BEGIN REQUIRED PACKAGES -->
  <h3 class="underline" style="text-align:center;" id="packages">Required Packages</h3>
  <p>The majority of work can be done using Base-<code>R</code>. Other libraries will be added for data manipulation and visualization. Data manipulation is needed for data exploration and will include the <code>dplyr</code> and <code>tidyverse</code> libraries. Data visualization is needed to gain insights from the data that would not otherwise have been clear using other tools. These libraries include <code>ggplot2</code> and <code>RColorBrewer</code>. <code>ggplot2</code> is a powerful graphics language for creating elegant and complex plots. The idea is to provide the data and tell the function how to map variables to the aesthetics.</p>
  
</div>

<div style="width: 30%; margin-left:35%;">
<!--begin.rcode, warning = FALSE, message = FALSE
# For Data Manipulation
library(dplyr)
library(tidyverse)

# For Data Visualization
library(ggplot2)
library(RColorBrewer)
end.rcode-->

</div>

<div style="height: 50px;"></div>
<!-- END REQUIRED PACKAGES -->






<!--PARRALAX BACKGROUND EFFECT-->
<div class="bgimg-2">
</div>
<!--PARRALAX BACKGROUND EFFECT-->





<!------------BEGIN DATA PREPERATION-------->
<div style="position:relative;" id="preperation">
  <div style="text-align:center;padding:50px 80px;text-align: justify;">
  <h3 class="underline" style="text-align:center;">Data Preperation</h3>
  <p>The original <code>titanic</code> dataset was downloaded from <a href = "data.world" style="color:black;" >data.world</a> as a <code>.csv</code> file. The data was accumulated after the crash to keep track of passengers and those who passed. It should be noted that this data set only includes passenger information  and no crew information. Therefore, this project will solely be focused on passengers only. In order to work with and view this data, it is necessary to read the <code>.csv</code> data file and save it as a data frame. This can be accomplished by calling the <code>read.csv</code> function inside of the <code>data.frame</code> function. For simplicity, the name of this data frame will be "<code>titanic</code>". To prevent factored <code>strings</code>, <code>stringsAsFactors</code> will be set to <code>FALSE</code>.</p>
<br>
<div style="width: 60%; margin-left:20%; background-color: #fff; color: #404040">
<!--begin.rcode, warning = FALSE, message = FALSE, eval = TRUE
# Store titanic data into a data frame
titanic <- data.frame(read.csv("data/titanic.csv",
                               stringsAsFactors = FALSE))

# To test if data frame saved correctly
is.data.frame(titanic) 

# To view first several observations of the data frame
head(titanic) 
end.rcode-->
</div> 
<br><br>
<!------------BEGIN FIRST SAMPLE TABLE------->
<span style="color: black; font-weight: bold">Sample Data Frame</span>
<table id="t01">
  <tr>
    <th>pclass</th>
    <th>survived</th> 
    <th>name</th>
    <th>sex</th>
    <th>age</th>
    <th>sibsp</th> 
    <th>parch</th>
    <th>ticket</th>
    <th>fare</th>
    <th>cabin</th> 
    <th>embarked</th>
    <th>boat</th>
    <th>body</th>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
    <td>Adahl, Mr. Mauritz Nils Martin</td>
    <td>male</td>
    <td>21</td>
    <td>0</td>
    <td>0</td>
    <td>348122</td>
    <td>7.650</td>
    <td> </td>
    <td>1</td>
    <td>C</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
    <td>West, Miss. Barbara J</td>
    <td>female</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>347088</td>
    <td>3.1708</td>
    <td> </td>
    <td>1</td>
    <td>S</td>
    <td>112</td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>Dean, Master. Bertram Vere</td>
    <td>male</td>
    <td>45</td>
    <td>0</td>
    <td>0</td>
    <td>C.A. 37671</td>
    <td>120.0000</td>
    <td>F4</td>
    <td>1</td>
    <td>C</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1</td>
    <td>Mallet, Master. Andre</td>
    <td>female</td>
    <td>13</td>
    <td>1</td>
    <td>2</td>
    <td>113781</td>
    <td>46.9000</td>
    <td> </td>
    <td>1</td>
    <td>Q</td>
    <td>328</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
    <td>Laroche, Miss. Louise</td>
    <td>male</td>
    <td>19</td>
    <td>0</td>
    <td>0</td>
    <td>2666</td>
    <td>7.650</td>
    <td> </td>
    <td>1</td>
    <td>S</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
    <td>Peacock, Miss. Treasteall</td>
    <td>female</td>
    <td>36</td>
    <td>0</td>
    <td>0</td>
    <td>113760</td>
    <td>31.3875</td>
    <td> </td>
    <td>1</td>
    <td>S</td>
    <td>N/A</td>
  </tr>
</table>
<!------------ENDFIRST SAMPLE TABLE------->


<br>
<br> 
<br>
<p>To gain familiarity with the titanic data frame, functions from tidyverse and dplyr will be used. Before diving into analyzing the data, a few basic questions will need to be answered, such as:<br>1) What are the column names? 2) What do the variables in the columns represent? 3) How large is this data frame? How many observations? 4) Are there missing values or quirks in the collection that need to be addressed and cleaned?</p>
<br><br>


<div style="width: 70%; margin-left:15%; background-color: #fff; color: #404040">

<span style="color: black; font-weight: bold">1) What are the column names?</span>

<!--begin.rcode, warning = FALSE, message = FALSE
# Call colnames() function
colnames(titanic)
end.rcode-->
<span style="color:#21597c; line-height:14px;">CONCLUSION: <code>pclass</code>, <code>survived</code>, <code>name</code>, <code>sex</code>, <code>age</code>, <code>sibsp</code>, <code>parch</code>, <code>ticket</code>, <code>fare</code>, <code>cabin</code>, <code>embarked</code>, <code>boat</code>, <code>body</code>, <code>home.dest</code>. <br>From this list of columns, our analysis will only use <code>pclass</code>, <code>sex</code>, <code>survived</code>, and <code>age</code>.</span>
</div> 
<br><br>


<div style="width: 70%; margin-left:15%; background-color: #fff; color: #404040">

<span style="color: black; font-weight: bold">2) What do the variables in the columns represent?</span>

<!--begin.rcode, warning = FALSE, message = FALSE
# Begin summary of all columns of interest

# pclass column summary
summary(titanic$pclass)

# sex column summary
str(titanic$sex)

# survived column summary
str(titanic$survived)

# age column summary
summary(titanic$age)

end.rcode-->
<span style="color:#21597c; line-height:14px;">CONCLUSION: The <code>pclass</code> column is represented by class 1, 2, and 3, where 1 represents upperclass and 3 the lowerclassmen . The <code>sex</code> column is represented by male or female. The <code>survived</code> column is represented by either 0 (died) or 1 (survived). The <code>age</code> column represents passenger ages ranging from a couple of months to 80 years old. </span>
</div> 
<br><br>

<div style="width: 70%; margin-left:15%; background-color: #fff; color: #404040">

<span style="color: black; font-weight: bold">3) How large is this data frame? How many observations? </span>

<!--begin.rcode, warning = FALSE, message = FALSE
# Call dim() function
dim(titanic)
end.rcode-->
<span style="color:#21597c; line-height:14px;">CONCLUSION: 14 columns and 1,310 observations </span>
</div> 
<br>


<div style="width: 70%; margin-left:15%; background-color: #fff; color: #404040">

<span style="color: black; font-weight: bold">4) Are there missing values or quirks in the collection that need to be addressed and cleaned?</span>

<!--begin.rcode, warning = FALSE, message = FALSE
# Begin check for missing values

# Class values
which(is.na(titanic$pclass))
sum(is.na(titanic$pclass))

# Age values
sum(is.na(titanic$age))

# Gender values
which(is.na(titanic$sex))
sum(is.na(titanic$sex))

# Survived values
which(is.na(titanic$survived))
sum(is.na(titanic$survived))

end.rcode-->
<span style="color:#21597c; line-height:14px;">CONCLUSION: There are missing values from the <code>survived</code>, <code>age</code>, and <code>pclass</code> columns. The biggest take away here is that there are 264 missing values in the <code>age</code> column while only one value is missing from the <code>sex</code> and <code>pclass</code> columns. We have already determined that all of the other values are logical.</span>
</div> 
<br>

To reiterate the above findings, there are 14 columns and 1310 observations in this dataset. The column names are <code>pclass</code>, <code>survived</code>, <code>name</code>, <code>sex</code>, <code>age</code>, <code>sibsp</code>, <code>parch</code>, <code>ticket</code>, <code>fare</code>, <code>cabin</code>, <code>embarked</code>, <code>boat</code>, <code>body</code>, and <code>home.dest</code>. Of these columns, we will only be interested in four: <code>pclass</code>, <code>survived</code>, <code>age</code>, and <code>sex</code>. The <code>pclass</code> column is represented by three variables: 1 (first class), 2 (second class), or 3 (third class). The <code>survived</code> column is represented by two variables: 0 (died) and 1 (survived). The <code>age</code> column contains each passengers age, which ranges from a couple of months to 80 years old. The <code>sex</code> column represents two variables: female or male.

<br><br>
During this process, no outliers or illogical values were found. However, there were missing values in the <code>sex</code>, <code>age</code>, <code>pclass</code>, and <code>survived</code> columns that need to be taken care of. When handling missing values, the options are to either omit the values of the missing data or replace it with the mean (average). In this case, it would be best to omit the values, as finding the mean could change the results more than omitting them. To do this, the tools in <code>dplyr</code> and <code>tidyverse</code> will be used, specifically the pipe operator (<code>%</code>) and <code>drop_na()</code> functions. This is also a good time to condense the data frame to only the columns that are needed for the analysis.
</p>
<br>
<div style="width: 80%; margin-left:10%; background-color: #fff; color: #404040">
<!--begin.rcode, warning = FALSE, message = FALSE
# To save all work to the dataframe
titanic <- titanic %>% 
  select(pclass, sex, age, survived) %>% # data frame with only these columns
  drop_na(age, sex, pclass, survived)    # function to drop columns that are called
end.rcode-->
</div> 
<br><br>



<!------------BEGIN SECOND SAMPLE TABLE------->
<span style="color: black; font-weight: bold">Sample Data Frame with Only Needed Columns</span>
<table id="t01">
  <tr>
    <th>pclass</th>
    <th>survived</th> 
    <th>sex</th>
    <th>age</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>male</td>
    <td>0.917</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
    <td>male</td>
    <td>50</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
    <td>male</td>
    <td>16</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1</td>
    <td>female</td>
    <td>54</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
    <td>female</td>
    <td>27</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1</td>
    <td>female</td>
    <td>13</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
    <td>male</td>
    <td>59</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
    <td>female</td>
    <td>21</td>
  </tr>
  <tr>
    <td>1</td>
    <td>0</td>
    <td>female</td>
    <td>46</td>
  </tr>
  <tr>
    <td>1</td>
    <td>0</td>
    <td>male</td>
    <td>28</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1</td>
    <td>female</td>
    <td>.67</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
    <td>male</td>
    <td>9</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
    <td>male</td>
    <td>32</td>
  </tr>
</table>
<!------------END SECOND SAMPLE TABLE------->
  </div>

<div style="height: 50px;"></div>  
  
</div>
<!------------END DATA PREPERATION-------->





<!--PARRALAX BACKGROUND EFFECT-->
<div class="bgimg-3">
</div>
<!--PARRALAX BACKGROUND EFFECT-->





<!------------BEGIN DATA EXPLORATION SECTION--------->
<div style="position:relative;" id="exploration">
  <div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 class="underline" style="text-align:center; color: #777;">Exploratory Data Analysis</h3>
  <p>The ultimate goal of the exploratory data analysis process is to determine the likelihood of survival among certain groups of passengers. For example, we should be able to determine if a young woman in first class has a better chance of survival than an older man in third class. In order to achieve this, first, the characteristics (class, sex, and age) will be compared to the survival data individually. Later, they will be compared to the survival data grouped together in various ways. <code>ggplot</code> will be heavily used in this section to create data visualizations.<br>
The first column that needs to be evaluated is the <code>survived</code> column without any other variables. To do this, a bar chart will be created using <code>geom_bar()</code> function. For plotting purposes, the 0 and 1 data in the <code>survived</code> data will be changed to "Died" and "Survived."
</p>
  </div>





<!------------BEGIN SURVIVAL DISTRIBUTION --------->
<!--BEGIN LEFT COLUMN-->
<div style="width: 40%; margin-left:6%; background-color: #fff; color: #404040">
<!--begin.rcode, warning = FALSE, message = FALSE, eval = FALSE
# Mutate Survived Column
titanic <- titanic %>% 
  mutate(survived = ifelse(survived == 0, 
                           "Died", 
                           "Survived"))
# Survival Amount
ggplot(titanic, 
       mapping = aes(x = survived)) + 
  geom_bar(width = .95, 
           position = "stack",
           fill = "#70ecc0") + 
  theme_light() +
  labs(x = "", 
       y = "Number of People", 
       title = "Survival Amount") + 
  geom_text(stat = 'count',
            aes(label =..count..,
                vjust = -0.2))
end.rcode-->
</div>
<!--END LEFT COLUMN-->



<!--BEGIN RIGHT COLUMN-->
<div style="width: 40%; position: absolute; margin-left: 48%; margin-top: -40%;">
<img src="images/survival_amount.png" />
</div>
<!--END RIGHT COLUMN-->



<div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
<p>After plotting the amount of passengers who died or survived, it is evident that more people died than survived the crash. As shown in the plot, 619 passengers died while only 427 survived. This means, without any other variable contributions/discrimination, each passenger had about a 40 percent chance of surviving. The first variable that will individually be compare to the survival variable will be gender. This plot is similiar to the above with an added aesthetic to fill with the gender percentage. </p>
</div>
<br>





<!------------BEGIN SURVIVAL AND GENDER DISTRIBUTION --------->
<!--BEGIN LEFT COLUMN-->
<div style="width: 40%; margin-left:6%; background-color: #fff; color: #404040">
<img src="images/gender_distribution_among_survival.png" />
</div>
<!--END LEFT COLUMN-->
<!--BEGIN RIGHT COLUMN-->
<div style="width: 40%; position: absolute; margin-left: 48%; margin-top: -35%;">
<!--begin.rcode, warning = FALSE, message = FALSE, eval = FALSE
# Survival Distribution Among Gender
titanic %>% 
  ggplot(mapping = aes(x = survived, 
                       fill = sex)) + 
  geom_bar(width = .95, 
           position = "stack") + 
  theme_light()+ 
  labs(x = "", 
       y = "Number of People", 
       title = "Gender Distribution Among Survival", 
       fill = "Gender") +
  scale_fill_manual(values = c("#70ecc0",
                               "#21597c")) + 
  geom_text(stat = 'count',
            aes(label =..count..),
            position = position_stack(vjust = 0.5),
            size = 5)
end.rcode-->
</div>
<!--END RIGHT COLUMN-->
<br><br>
<!-- BEGIN SUMMARY PARAGRAPH -->
<div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
<p>By illustrating the relationship between the <code>sex</code> and <code>survived</code> data, it is evident that males had a much higher chance of passing away than females. Of the passengers who were male, 523 died while 123 survived. Of the passengers who were female, 96 died while 292 survived. This means males had a 20.5 percent chance of survival compared to the 75.25 percent chance of survival that females had. <br>
The relationship that will be illustrated next is survival and how it is distributed among age. The plot will be similiar to the gender plot, however, we will use the <code>geom_density()</code> function so any overlap can be seen more clearly. </p>
</div>
<!-- END SUMMARY PARAGRAPH -->





<!------------BEGIN SURVIVAL AND AGE DISTRIBUTION --------->
<!--BEGIN LEFT COLUMN-->
<div style="width: 40%; margin-left:6%; background-color: #fff; color: #404040">
<!--begin.rcode, warning = FALSE, message = FALSE, eval = FALSE
# Survival Rate Among Age
titanic %>% 
  ggplot(aes(x = age, 
             fill = factor(survived))) +
  geom_density(alpha = .8) + 
  theme_light() + 
  labs(x = "Age", 
       y = "Number of People", 
       fill = "Survived") + 
  ggtitle("Age Distribution Among Survival") +
  scale_fill_manual(values = c("#21597c",
                               "#70ecc0")) + 
  scale_x_continuous()

end.rcode-->
</div>
<!--END LEFT COLUMN-->

<!--BEGIN RIGHT COLUMN-->
<div style="width: 40%; position: absolute; margin-left: 48%; margin-top: -32%;">
<img src="images/age_distribution_among_survival.png" />
</div>
<!--END RIGHT COLUMN-->
<br><br>
<!-- BEGIN SUMMARY PARAGRAPH -->
<div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
<p>By illustrating the relationship between the <code>age</code> and <code>survived</code> data, it can be shown that there are only two age groups where the number of passengers who survived exceeded the number of people who passed away. Those approximate age groups are from 0 to 18 and 45 to 55 years of age. All other age groups have more passengers who passed away than survived. From the first group, we can infer that the children had precedence to the lifeboats.<br>
The next relationship that will be established is between passengers who survived and their class. This can be done using a <code>geom_bar()</code> plot with the <code>pclass</code> column on the <code>x-axis</code> and filled with the <code>survived</code> column data. </p>
</div>
<!-- END SUMMARY PARAGRAPH -->





<!------------BEGIN SURVIVAL AND CLASS DISTRIBUTION PLOT--------->
<!--BEGIN LEFT COLUMN-->
<div style="width: 40%; margin-left:6%; background-color: #fff; color: #404040">
<img src="images/class_distribution_among_survival.png" />
</div>
<!--END LEFT COLUMN-->
<!--BEGIN RIGHT COLUMN-->
<div style="width: 40%; position: absolute; margin-left: 48%; margin-top: -32%;">
<!--begin.rcode, warning = FALSE, message = FALSE, eval = FALSE
# Survival Distribution Among Class
titanic %>% 
  ggplot(aes(x = pclass, 
             fill = factor(survived))) + 
  geom_bar(position = "dodge") + 
  theme_light() +
  labs(x = "Class", 
       y = "Number of People", 
       title = "Class Distribution Among Survival", 
       fill = "") +
  scale_fill_manual(values = c("#70ecc0",
                               "#21597c"))
end.rcode-->
</div>
<!--END RIGHT COLUMN-->
<!--BEGIN PARAGRAPH SUMMARY -->
<div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
<p>After creating a visualization of the relationship between the <code>pclass</code> and <code>survived</code> data, it can be concluded that first class had the highest chance of surviving the crash. Second class had the second highest while the third class had the lowest chance of surviving the crash, if survival was based solely on the passenger's class. From this, we can infer that the wealthy passengers probably had readier access or took priority in attaining a lifeboat.<br>
Now that the <code>sex</code>, <code>age</code>, and <code>pclass</code> data columns have succefully been individually compared to the <code>survived</code> column data, the next step is to uncover new information in the data that isn’t immediately apparent. For simplicity, a new <code>age_group</code> category will be created to categorize the age group into four different groups: 0 to 18, 19 to 35, 36 to 60, and 61 and up. The overall goal is to determine the survival percentage for each group of passengers. To do this, the <code>sex</code>, <code>age_group</code>, and <code>pclass</code> columns will be grouped together into one category column and then compared with the <code>survived</code> column. To create and group new columns, the pipe operator <code>%</code> will be used with the <code>mutate</code> function. 
</p>
</div>

<!-- BEGIN TITANIC MUTATION CATEGORY -->
<div style="width: 80%; margin-left:10%; background-color: #fff; color: #404040">
<!--begin.rcode, warning = FALSE, message = FALSE, Eval = TRUE
titanic <- titanic %>% 
  mutate(age_group = ifelse(age >=0 & age < 19, "0 to 18",
                            ifelse(age >=19 & age <= 35, "19 to 35",
                            ifelse(age >=36 & age < 61, "36 to 60",
                            ifelse(age >=61, "61 and Older", "no"))))) %>% 
  mutate(category = ifelse(age_group == "0 to 18" & sex == "female" & pclass == 1, 
                           "Female, 0 to 18, First Class",
                           ifelse(age_group == "0 to 18" & sex == "female" & pclass == 2, 
                                  "Female, 0 to 18, Second Class",
                           ifelse(age_group == "0 to 18" & sex == "female" & pclass == 3, 
                                  "Female, 0 to 18, Third Class",
                           ifelse(age_group == "0 to 18" & sex == "male" & pclass == 1, 
                                  "Male, 0 to 18, First Class",
                           ifelse(age_group == "0 to 18" & sex == "male" & pclass == 2, 
                                  "Male, 0 to 18, Second Class",
                           ifelse(age_group == "0 to 18" & sex == "male" & pclass == 3, 
                                  "Male, 0 to 18, Three Class",
                           ifelse(age_group == "19 to 35" & sex == "female" & pclass == 1, 
                                  "Female, 19 to 35, First Class",
                           ifelse(age_group == "19 to 35" & sex == "female" & pclass == 2, 
                                  "Female, 19 to 35, Second Class",
                           ifelse(age_group == "19 to 35" & sex == "female" & pclass == 3, 
                                  "Female, 19 to 35, Third Class",
                           ifelse(age_group == "19 to 35" & sex == "male" & pclass == 1, 
                                  "Male, 19 to 35, First Class",
                           ifelse(age_group == "19 to 35" & sex == "male" & pclass == 2, 
                                  "Male, 19 to 35, Second Class",
                           ifelse(age_group == "19 to 35" & sex == "male" & pclass == 3, 
                                  "Male, 19 to 35, Third Class",
                           ifelse(age_group == "36 to 60" & sex == "female" & pclass == 1, 
                                  "Female, 36 to 60, First Class",
                           ifelse(age_group == "36 to 60" & sex == "female" & pclass == 2, 
                                  "Female, 36 to 60, Second Class",
                           ifelse(age_group == "36 to 60" & sex == "female" & pclass == 3, 
                                  "Female, 36 to 60, Third Class",
                           ifelse(age_group == "36 to 60" & sex == "male" & pclass == 1, 
                                  "Male, 36 to 60, First Class",
                           ifelse(age_group == "36 to 60" & sex == "male" & pclass == 2, 
                                  "Male, 36 to 60, Second Class",
                           ifelse(age_group == "36 to 60" & sex == "male" & pclass == 3, 
                                  "Male, 36 to 60, Third Class",
                           ifelse(age_group == "61 and Older" & sex == "female" & pclass == 1, 
                                  "Female, 61 and Older, First Class",
                           ifelse(age_group == "61 and Older" & sex == "female" & pclass == 2, 
                                  "Female, 61 and Older, Second Class",
                           ifelse(age_group == "61 and Older" & sex == "female" & pclass == 3, 
                                  "Female, 61 and Older, Third Class",
                           ifelse(age_group == "61 and Older" & sex == "male" & pclass == 1, 
                                  "Female, 61 and Older, First Class",
                           ifelse(age_group == "61 and Older" & sex == "male" & pclass == 2, 
                                  "Female, 61 and Older, Second Class",
                           ifelse(age_group == "61 and Older" & sex == "male" & pclass == 3, 
                                  "Female, 61 and Older, Third Class", "No")))))))))))))))))))))))))

end.rcode-->
</div> 
<!-- BEGIN TITANIC MUTATION CATEGORY -->






<!-- BEGIN SUMMARY PARAGRAPH -->
<div style="color:#777;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
Now that new categories and groups have been created, <code>ggplot</code> can be used to illustrate the relationship between the new category column and the survived column. Since the goal is to determine the percentage of chance of survival among each category, a new column of percentages will be created. This new column will be calculated by count / sum(count). To plot, the categories will be on the <code>y-axis</code>, percentage on the <code>x-axis</code>, and filled with the <code>survived</code> data. To illustrate this relationship, a <code>geom_bar()</code> plot will be used. 
</div>
<!-- END SUMMARY PARAGRAPH -->





<!-- BEGIN TITANIC GGPLOT CATEGORY -->
<div style="width: 70%; margin-left:15%; background-color: #fff; color: #404040">
<!--begin.rcode, warning = FALSE, message = FALSE, eval = FALSE
titanic <- titanic %>% 
  group_by(category, survived) %>% 
  summarise(count = n()) %>% 
  mutate(perc = count / sum(count))


ggplot(titanic, aes(y = factor(category), x = perc * 100, fill = factor(survived))) + 
  geom_bar(stat = "identity", width = 0.95) +
  labs(x = "Percent", 
       y = "Gender, Age, Class Group",
       fill = "") +
  theme_light() +
 theme(legend.position = "top") + 
  scale_fill_manual(values = c("#70ecc0",
                               "#21597c"))
end.rcode-->
</div> 
<!-- END TITANIC GGPLOT CATEGORY -->





<!--BEGIN IMAGE PLOT-->
<div style="width: 80%; margin-left: 10%;">
<img src="images/survival_by_category.png" />
</div>
<br><br>
<!--END IMAGE PLOT-->
</div>
</div>

<!------------END DATA EXPLORATION SECTION--------->







<!--PARRALAX BACKGROUND EFFECT-->
<div class="bgimg-4">
</div>
<!--PARRALAX BACKGROUND EFFECT-->





<!------------BEGIN SUMMARY-------->
<div id="summary" style="color: #fff;background-color:#404040;text-align:center;padding:50px 80px;text-align: justify;">

<div style="margin-left: 15%">
  <h3 class="whiteUnderline" style="text-align:center; color: #fff;">Summary</h3>
  <p>
  An estimated 2,224 people were on board the Titanic when it crashed, causing approximately 1,500 individuals to perish. The purpose of this project was to analyze and explore the pattern of death and how it was distributed among class, gender, and age aboard the Titanic. With this information, we are uncovering any discrimination or favor given to any particular group in the distribution of lifeboats. Relationships between certain variables and death rates were established and visualizations were produced to illustrate them. The problem statement was addressed using techniques and tools that were found in the <code>R</code> language and its library packages. <br>
Before the data exploration began, it was hypothesized that women, children, and first class passengers would get priority over older, male, third class passengers to lifeboats. This hypothesis proved to be true as can be seen with the table below which is ranks survival chances from 1 to 21, with 1 being the highest survival rate and 31 being the lowest.<br><br>

<!------------BEGIN CONSLUSION TABLE------->
<span style="color: #fff; font-weight: bold">Survival distribution among categories. Ranked 1 (highest survival percentage) to 21 (lowest survival percentage).</span>
<table id="t01" style="">
  <tr>
    <th style="width:80%">Category</th>
    <th style="width:20%">Rank</th>
  </tr>
  <tr>
    <td>Female, 19 to 35, First Class</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Female, 36 to 60, First Class</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Female, 0 to 18, Second Class</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Female, 0 to 18, First Class</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Female, 19 to 35, Second Class</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Female, 36 to 60, Second Class</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Male, 0 to 18, First Class</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Female, 0 to 18, Third Class</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Male, 0 to 18, Second Class</td>
    <td>9</td>
  </tr>
  <tr>
    <td>Female, 19 to 35, Third Class</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Male, 19 to 35, First Class</td>
    <td>11</td>
  </tr>
  <tr>
    <td>Female, 36 to 60, Third Class</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Male, 36 to 60, First Class</td>
    <td>13</td>
  </tr>
  <tr>
    <td>Female, 61 and Older, First Class</td>
    <td>14</td>
  </tr>
  <tr>
    <td>Male, 0 to 18, Third Class</td>
    <td>15</td>
  </tr>
  <tr>
    <td>Female, 61 and Older, Third Class</td>
    <td>16</td>
  </tr>
  <tr>
    <td>Male, 19 to 35, Third Class</td>
    <td>17</td>
  </tr>
  <tr>
    <td>Female, 61 and Older, Second Class</td>
    <td>18</td>
  </tr>
  <tr>
    <td>Male, 36 to 60, Third Class</td>
    <td>19</td>
  </tr>
  <tr>
    <td>Male, 19 to 35, Third Class</td>
    <td>20</td>
  </tr>
  <tr>
    <td>Male, 36 to 60, Second Class</td>
    <td>21</td>
  </tr>
</table>
<!------------END CONSLUSION TABLE-------->
<br>
There were limitations with this project, as only four data columns were analyzed. There are ten other columns that can be worked with when comparing to the survived column, but would tell little or be challenging to interpret without making many assumptions without supplementary information. Other limitations include the proportion of missing data values. Certain variables had more or less missing data others, therefore leading to less accuracy in the analysis of sed data.
</p>





<!------------BEGIN RESOURCES-------->
  <h3 class="whiteUnderline" style="text-align:center; color: #fff;" id="resources">Resources</h3>
  <p>All images are public domain. The data set was downloaded from data.world, <a style="color: #fff" href="https://data.world/nrippner/titanic-disaster-dataset#__sid=js0">here</a> .</p>
<!------------END RESOURCES-------->
</div>
</div>

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>
</body>
</html>
